@import "tailwindcss";
@plugin "@tailwindcss/typography";

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin-angle {
  to {
    --angle: 360deg;
  }
}

.animate-border-spin {
  animation: spin-angle 4s linear infinite;
}
